# Unity generated
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
Sysinfo.txt

# Rider / VS / VSCode
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj

# Crash/Report
*.stacktrace

# OS
.DS_Store
Thumbs.db
